<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    cicla una sequenza usando <b>forloop.cunter</b>
    <br>
    {% for x in list2 %}
        <i> {{ forloop.counter }}</i> : {{ x }} <br>
    {% endfor %}
    <br/>
    cicla una sequenza usando <b>forloop.counter0</b>
    <br/>
    {% for x in list2 %}
        <i> {{ forloop.counter0 }}</i> : {{ x }} <br>
    {% endfor %}
    <br/>
    stampa il primo elemento della sequenza usando <b>forloop.first</b>
    <br/>
    {% for x in list2 %}
        {% if forloop.first %}
            <i>Il primo elemento</i> - {{ x }} <br>
        {% endif %}
    {% endfor %}
    <br/>
    stampa l'ultimo elemento della sequenza usando <b>forloop.last</b>
    <br/>
    {% for x in list2 %}
        {% if forloop.last %}
            <i>l'ultimo elemento</i> - {{ x }} <br>
        {% endif %}
    {% endfor %}
    <br/>
    stampa il numero degli elementi non ciclati usando <b>forloop.revcounter</b>
    <br/>
    {% for x in list2 %}
        <i>Numero di elementi ancora da ciclare</i>- {{ forloop.revcounter }}<br>
        <i>elemento</i> - {{ x }}<br>
    {% endfor %}
    <br/>
    stampa la sequenza al contrario usando <b>forloop.first</b>
    <br/>
    {% for x in list2 %}
        <i>elemento</i> - {{ x }}<br/>
    {% endfor %}
</body>
</html>