<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <ul>
            <h3 style="margin-left:-50px">Giuseppe Gullo:</h3>
            <li>{{GiuseppeGullo}}</li>
            <h3 style="margin-left:-50px">Antonio Barbera:</h3>
            <li>{{AntonioBarbera}}</li>
            <h3 style="margin-left:-50px">Nicola Spina:</h3>
            <li>{{NicolaSpina}}</li>
        </ul>
    {% endblock %}
</body>
</html>