<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}{{block.super}}|Chi siamo{% endblock title %}

    {% block content %}
        <h1>Chi siamo</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate facilis quidem temporibus obcaecati, possimus cupiditate nisi exercitationem, quae tempore officia architecto nostrum nihil similique dolores, illo soluta neque iusto expedita!</p>
    {% endblock content %}
    
</body>
</html>