:root
{
    --Colore1:hsl(180, 100%, 50%);
    --Colore2:hsl(21, 100%, 50%);
    --Colore3:hsl(88, 100%, 50%);
    --Colore4:hsl(244, 100%, 50%);
    --Colore5:hsl(310, 100%, 50%);
    --Colore6:hsl(0, 100%, 50%);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1e2759;
}
.GlassMenu
{
    position: absolute;
    top: 5%;
}
ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}
ul li
{
    list-style-type: none;
}
ul li a
{
    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 25px 25px;
    z-index: 1000;
    backdrop-filter: blur(15px);
}
ul li a ion-icon
{
    font-size: 2.5em;
    pointer-events: none;
    opacity: 0.25;
    transition: 0.25s;
}
ul li:hover a ion-icon
{
    opacity: 1;
}
.marker
{
    position: absolute;
    top: 0;
    transition: 0.5s;
    z-index: 1;
}
.marker::before
{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 40px;
    border-radius: 8px;
    background: var(--Colore2);
    box-shadow: 0 0 15px var(--Colore2),
    0 0 30px var(--Colore2),
    0 0 45px var(--Colore2),
    0 0 60px var(--Colore2)
}
ul li:nth-child(1).active ~ .marker::before
{
    background: var(--Colore1);
    box-shadow: 0 0 15px var(--Colore1),
    0 0 30px var(--Colore1),
    0 0 45px var(--Colore1),
    0 0 60px var(--Colore1)
}
ul li:nth-child(2).active ~ .marker::before
{
    background: var(--Colore2);
    box-shadow: 0 0 15px var(--Colore2),
    0 0 30px var(--Colore2),
    0 0 45px var(--Colore2),
    0 0 60px var(--Colore2)
}
ul li:nth-child(3).active ~ .marker::before
{
    background: var(--Colore3);
    box-shadow: 0 0 15px var(--Colore3),
    0 0 30px var(--Colore3),
    0 0 45px var(--Colore3),
    0 0 60px var(--Colore3)
}
ul li:nth-child(4).active ~ .marker::before
{
    background: var(--Colore4);
    box-shadow: 0 0 15px var(--Colore4),
    0 0 30px var(--Colore4),
    0 0 45px var(--Colore4),
    0 0 60px var(--Colore4)
}
ul li:nth-child(5).active ~ .marker::before
{
    background: var(--Colore5);
    box-shadow: 0 0 15px var(--Colore5),
    0 0 30px var(--Colore5),
    0 0 45px var(--Colore5),
    0 0 60px var(--Colore5)
}
ul li:nth-child(6).active ~ .marker::before
{
    background: var(--Colore6);
    box-shadow: 0 0 15px var(--Colore6),
    0 0 30px var(--Colore6),
    0 0 45px var(--Colore6),
    0 0 60px var(--Colore6)
}
.container-content
{
    position: absolute;
    top: 120px;
    align-self: center;
    color: black;
    margin-left: 15px;
}